__pycache__/
**/__pycache__/
**/**/__pycache__/
__pycache__
.vscode/
.vscode
venv/
venv

*.db

*/migrations/*
!**/migrations/__init__.py

.git
.gitignore

.python-version

.dockerignore

README.md
LICENSE

*.json


static/
staticfiles/
media/

build-containers.sh
down-containers.sh
up-containers.sh